.modal {
  width: 40%;
  height: 65%;
  border: 2px solid #000;
  background-color: white;
  padding: 16px 32px 24px;
  position: absolute;
}

.header {
  display: flex;
  justify-content: space-between;
}